<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta charset='utf-8' />
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href='http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet' />
    <link href='http://cdn.bootcss.com/datatables/1.9.4/css/jquery.dataTables.min.css' rel='stylesheet'>  
  </head>
  <body>
    
    {{{body}}}
    
    <script src='http://libs.baidu.com/jquery/2.0.3/jquery.min.js'></script>
    <script src='http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>  
    <script src='http://cdn.bootcss.com/datatables/1.9.4/jquery.dataTables.min.js'></script>
    <script src='/dist/teaching.js'></script>
  </body>  
</html>