<div id="mainpage">
  <div class="jumbotron">
      <h1>FATS<span class="cnname">银行会计辅助教学系统</span></h1>
      <p class="lead">FATS是银行会计辅助教学系统，它以在本领域执教多年并深受好评的一线教师经验为基础，结合最新的互联网技术研发而成，其目的在于提供给银行会计及其相关培训领域的从业人员与被培训者一个更方便学习与实操的环境。</p>
      <p>
          <a class="btn btn-lg btn-success" href="/Teaching/Navigator/Select" role="button">
              开始学习
          </a>
      </p>
  </div> 
  <div class="row">
      <div class="col-lg-6">
          <h4>专业理念</h4>
          <p>全部教学以知识点为单位，每个知识点的内部流程均由经验丰富的一线教师精心设计</p>
  
          <h4>自由配置</h4>
          <p>所有流程数据均可根据实际教学单位的需要而定制，满足不足区域，不足组织的个性需求</p>
  
          <h4>精细指导</h4>
          <p>本系统在学习步骤上作了的明确的细分，每一小步均针对学生的不对问题有所解决</p>
      </div>
  
      <div class="col-lg-6">
          <h4>智能提示</h4>
          <p>对于学生，在学习过程中遇到的所有问题，均含有专家的提示，引导学生思考如何克服困难</p>
  
          <h4>故障恢复</h4>
          <p>在学习过程中遇到任何电脑硬件或者软件问题，系统都可以恢复出问题前的进度继续进行</p>
  
          <h4>操作报告</h4>
          <p>学生在练习完成后系统可以给出详细的操作报告，以便教师了解学生的进度以及可能存在的疑难点</p>
      </div>
  </div>
</div>