<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accounting">
                    往来核算
                </a>
            </h4>
        </div>
        <div id="accounting" class="list-group panel-collapse collapse in">
            <a href="javascript:void(0)" class="list-group-item" data-dbid="T1_DebitTransferCheck">
                跨行借记支票付款与收款
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="2">
                银行汇票的核算
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="3">
                商业汇票--银行承兑汇票
            </a>

            <a href="javascript:void(0)" class="list-group-item" data-dbid="4">
                汇兑-信汇
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="5">
                托收承付-全额承付
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="6">
                委托收款-付款人是公司
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="7">
                委托收款-付款人是银行
            </a>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#dynsaving">
                    个人活期存款
                </a>
            </h4>
        </div>
        <div id="dynsaving" class="list-group panel-collapse collapse">
            <a href="javascript:void(0)" class="list-group-item" data-dbid="9-1">
                活期储蓄--存入现金
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="9-2">
                活期储蓄--支取现金
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="9-3">
                活期储蓄--利息结算
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="9-4">
                活期储蓄--清户
            </a>
        </div>	
    </div>   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#fixsaving">
                    个人定期存款
                </a>
            </h4>
        </div>
        <div id="fixsaving" class="list-group panel-collapse collapse">
            <a href="javascript:void(0)" class="list-group-item" data-dbid="10-1">
                整存整取-存入
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="10-2">
                整存整取-取出
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="11-1">
                零存整取-存入
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="11-2">
                零存整取-取出
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="12-1">
                整存零取-存入
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="12-2">
                整存零取-取出本金
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="12-3">
                整存零取-取出利息
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="13-1">
                存本取息-存入
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="13-2">
                存本取息-取息
            </a>
            <a href="javascript:void(0)" class="list-group-item" data-dbid="13-3">
                存本取息-取出本金与利息
            </a>
        </div>
    </div>     	
</div>

<div id="casearea">
    <h3 class="currname"></h3>

    <div class="tablecont">
        <table id="caselist" class="datatable table table-bordered table-striped"></table>
    </div>

    <h3>继续今天学习过的案例</h3>
    <div class="tablecont">
        <table id="studiedlist" class="datatable table table-bordered table-striped"></table>
    </div>
</div>

<div class="clearfix"></div>


<div class="modal fade" id="pop_LoadingCase" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loadingPopLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">               
                <h4 class="modal-title" id="loadingPopLabel">请稍候</h4>
            </div>
            <div class="modal-body">
                系统正在准备案例数据...
            </div>
        </div>
    </div>
</div>


