
<div id="maincontainer" class='fullwidth'>
    <div class="page-header page-header-fix">
        <h3>{{ nodeName }}<small>{{ routineName }}</small></h3>
    </div>
    {{> tsupport/CaseDescription groupText }}
    <input type='hidden' id='TchNodeID' value='{{ tchNode.Row_ID }}' />
    <input type='hidden' id='TchRoutineID' value='{{ tchNode.RoutineID }}' />  
    {{> tregister/EntrustBankPayment (entrustBankPaymentConverter itemList nodeIndex) }}
</div>
 
{{> tsupport/Teaching1Navigator }}

