
<div id="maincontainer">
    <div class="page-header page-header-fix">
        <h3>{{ nodeName }}<small>{{ routineName }}</small></h3>
    </div>
    {{> tsupport/CaseDescription groupText }}
    <input type='hidden' id='TchNodeID' value='{{ tchNode.Row_ID }}' />
    <input type='hidden' id='TchRoutineID' value='{{ tchNode.RoutineID }}' />  
    {{#switch routineTag}}
        {{#case 'Discount~Grant'}}
            {{> tbill/DiscountingVoucher (discountingConverter itemList routineTag) }}
        {{/case}}
        {{#case 'Discount~Revoke'}}
            {{> tbill/DiscountingVoucher (discountingConverter itemList routineTag) }}
        {{/case}}   
    {{/switch}}
    {{> tsupport/SubjectFiller subjects }}
</div>
 
{{> tsupport/Teaching1Navigator }}

