
<div id="maincontainer">
    <div class="page-header page-header-fix">
        <h3>{{ nodeName }}<small>{{ routineName }}</small></h3>
    </div>
    {{> tsupport/CaseDescription groupText }}
    <input type='hidden' id='TchNodeID' value='{{ tchNode.Row_ID }}' />
    <input type='hidden' id='TchRoutineID' value='{{ tchNode.RoutineID }}' />  
    {{#switch routineTag}}
        {{#case 'MortgageLoan~Grant'}}
            {{> tbill/LoanVoucher (loanConverter itemList routineTag 'special') }}
        {{/case}}
        {{#case 'MortgageLoan~Revoke'}}
            {{> tbill/RepayVoucher (loanConverter itemList routineTag 'special') }}
        {{/case}}
        {{#case 'CreditLoan~Grant'}}
            {{> tbill/LoanVoucher (loanConverter itemList routineTag 'special') }}
        {{/case}}
        {{#case 'CreditLoan~Revoke'}}
            {{> tbill/RepayVoucher (loanConverter itemList routineTag 'special') }}
        {{/case}}      
    {{/switch}}
    {{> tsupport/SubjectFiller subjects }}
</div>
 
{{> tsupport/Teaching1Navigator }}

