<nav id="navbar" role="navigation" class="navbar navbar-default navbar-fixed-bottom">    
    <div class="collapse navbar-collapse leftarea">
        <button class="btn btn-default navbar-btn btn-info" type="button" data-step="prev">
           <span class="glyphicon  glyphicon-arrow-left"></span>上一步
        </button>
    </div>
        <div class="collapse navbar-collapse rightarea">
        <button class="btn btn-default navbar-btn btn-info" type="button" data-step="next" >
           <span class="glyphicon glyphicon-arrow-right"></span>下一步
        </button>
    </div>
    <div class="collapse navbar-collapse centerarea">
        <button class="btn btn-default navbar-btn btn-info" type="button" data-step="check">
           <span class="glyphicon glyphicon-check"></span>检查
        </button>
         <button class="btn btn-default navbar-btn btn-info" type="button" data-step="auto">
           <span class="glyphicon glyphicon-th-list"></span>答案
         </button>
    </div>

    <div class="clearfix"></div>
</nav>

<div class="modal fade" id="pop_WaitingDiag" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="waitingPopLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="waitingPopLabel">请稍候</h4>
            </div>
            <div class="modal-body">
                系统正在转到下一训练环节...
            </div>
        </div>
    </div>
</div>
