<div class="alert alert-danger fade in errorarea" id="responsearea">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <strong>操作提示:</strong>
    <span class="hinttext"></span>
</div>
<div id="generalhint" class="alert alert-success fade in helparea">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <span class="text">请在完成本页所有内容后，点击下面的“检查”按钮。注意：金额需要精确到分。
    </span>
</div>
